<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <img src="../static/images/carusel.jpg" alt="">
            <div class="title">
                <h4>MUSE</h4>
                <p>DESING AND INTERIOR</p>
            </div>
        </header>

        <div class="main">
            <div class="center">
                <div class="left">
                    <img src="../static/images/left.jpg" alt="" class="image img1">
                    <img src="../static/images/left2.jpg" alt="" class="image img2">
                    <div class="new">
                        <h1>NEW EVENS</h1>
                        <p>Extra ordinary project</p>
                    </div>
                    <div class="right-border"></div>
                </div>
                <div class="right">
                    <div class="in-left">
                        <a href="" class="title">Services /</a>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                    </div>
                    <div class="in-right">
                        <a href="" class="title">Product /</a>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                        <div class="link">
                            <a href="">Our Identity</a>
                            <p>be different be unique </p>
                        </div>
                        <div class="link">
                            <a href="">Stories</a>
                            <p>Explore our world</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer></footer>
        </div>
        <script src="../static/js/index.js"></script>
    </body>
</html>